@import url("./fonts/Poppins/style.css");

body {
  background: linear-gradient(
    298.7deg,
    #431447 -47.38%,
    #04050a 6.49%,
    #03181e 94.15%,
    #022a32 127.93%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.App {
  padding: 2% 10%;
}

.css-1fzpoyk {
  opacity: 1 !important;
}

.css-1fzpoyk:nth-child(1) {
  transform: translateY(-50%) translateX(-35%) scale(0.5) !important;
}

.css-1fzpoyk:nth-child(3) {
  transform: translateY(-50%) translateX(-65%) scale(0.5) !important;
}
